@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonte e imagem de fundo histórica */
body {
  font-family: 'Playfair Display', serif;
  @apply bg-cover bg-center bg-no-repeat text-gray-900;
  background-image: url('/background.png');
  background-attachment: fixed;
}


